[project]
	description = Tianocore website
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Lee Leahy (LeeLeahy)
[access "refs/for/refs/*"]
	read = group user/Lee Leahy (LeeLeahy)
	push = group user/Lee Leahy (LeeLeahy)
	label-Code-Review = -2..+2 group user/Lee Leahy (LeeLeahy)
	label-Verified = -1..+1 group user/Lee Leahy (LeeLeahy)
	rebase = group user/Lee Leahy (LeeLeahy)
	removeReviewer = group user/Lee Leahy (LeeLeahy)
	submit = group user/Lee Leahy (LeeLeahy)
[access "refs/heads/*"]
	read = group user/Lee Leahy (LeeLeahy)
	create = group user/Lee Leahy (LeeLeahy)
	push = +force group user/Lee Leahy (LeeLeahy)
	pushMerge = group user/Lee Leahy (LeeLeahy)
[access "refs/tags/*"]
	push = +force group user/Lee Leahy (LeeLeahy)
	pushTag = group user/Lee Leahy (LeeLeahy)
	pushSignedTag = group user/Lee Leahy (LeeLeahy)
